        </main>

        <footer class="content-footer">
          <p>&copy; <%= new Date().getFullYear() %> Alpha System</p>
        </footer>
      </div>
    </div>

    <!-- EasyMDE JS -->
    <script src="/js/vendors/easymde.min.js"></script>

    <!-- Alpha System - Disable Dev Tools -->
    <script src="/js/vendors/disable-dev-tools.js"></script>

    <!-- Admin JS -->
    <script src="/js/script.js"></script>
  </body>

</html>